body {
    font-size: 1.5em;
    margin: 20px;
    

}
h1 {
    font-size: 1.2em;

}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

.photos {
    display: flex;
    flex-wrap: wrap;

}

@media screen and (min-width:800px) {
    body{
        background-color:  pink;
        font-size: 1.3em;
        margin: 20px 50px;
    }
    figure{
        flex-basis: 40%;
        margin-left: 30px;

    }   
}

@media screen and (min-width:1300px) {
    body{
        background-color: rgb(148, 148, 236);
        font-size: 1.5em;
        max-width: 1300px;

    }
}