html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@media screen and (max-width: 600px) {
  body {
    background-color: antiquewhite;
    font-size: 1.1em;
  }

  .menu {
    list-style: none;
    display: flex;
  }

  .menu li {
    margin-left: 15px;
  }

  .aside-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }

  .aside-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }

  .main-content {
    font-size: 1.5rem;
    margin: 15px;
    margin-right: 15px;
  }

  .main-content h1 {
    font-size: 1.5rem;
  }

  footer {
    text-align: center;
    font-size: 20px;
    margin: 20px;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  body {
    background-color: rgb(116, 17, 34);
  }
  .container header {
    font-size: 1.5rem;
    margin: 15px;
    text-align: center;
  }

  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .menu li {
    margin-left: 15px;
  }

  .aside-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }

  .aside-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }

  .main-content h1 {
    font-size: 1.5rem;
    margin: 20px;
    text-align: center;
  }

  .main-content p {
    font-size: 1.5rem;
    margin: 50px;
  }

  footer {
    text-align: center;
    font-size: 20px;
    margin: 20px;
  }
}

@media screen and (min-width: 900px) {
  body {
    background-color: rgb(70, 145, 74);
  }
  .container header {
    font-size: 1.5rem;
    margin: 15px;
    text-align: center;
  }

  .menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }

  .menu li {
    margin-left: 15px;
  }

  .aside-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }

  .aside-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }

  .main-content h1 {
    font-size: 1.5rem;
    margin: 20px;
    text-align: center;
  }

  .main-content p {
    font-size: 1.5rem;
    margin: 50px;
  }

  footer {
    text-align: center;
    font-size: 20px;
    margin: 20px;
  }
}
