#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e8f3ff;
  color: #3d495c;
  font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  --text-opacity: 1;
}

