#pond {
  display: flex;
  justify-content: flex-end;
}

#pond {
  display: flex;
  justify-content: center;
}

#pond {
  display: flex;
  justify-content: space-around;
}

#pond {
  display: flex;
  justify-content: space-between;
}

#pond {
  display: flex;
  align-items: flex-end;
}

#pond {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pond {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

#pond {
  display: flex;
  flex-direction: row-reverse;
}

#pond {
  display: flex;
  flex-direction: column;
}

#pond {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

#pond {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#pond {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

#pond {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
  justify-content: initial;
}
